<!DOCTYPE html>
<html>
<%- include('../partials/_header') %>

    <div class="container">
        <!-- Logo -->
        <div class="content-card text-center">
            <img src="/img/8-1oBq9kyf5UPgQzS.png" alt="Logo">
        </div>

        <div class="container">
            <!-- Logo -->
            <div class="content-card">
                <img src="/img/P1188043-Enhanced-SR.jpg" style=" margin: auto; display: block;" alt="Image1">            </div>

        <!-- About Me -->
        <div class="content-card">
            <h5>About Me</h5>
            <p>
                Hello, I'm Timothy Li, a recent graduate from York University with a Bachelor’s Degree, currently
                pursuing a career as a software engineer at Centennial College. I'm driven by a strong desire to gain
                practical work experience, further develop my programming skills, and enhance my interpersonal
                abilities.

                With a background in bartending, front desk management, and line cooking, I've honed my ability to adapt
                and learn quickly in diverse environments. My journey in the service industry has instilled in me a
                dedication to efficiency and customer satisfaction.

                As I embark on this exciting path in software engineering, I'm eager to bring my resilient and adaptable
                nature to the world of technology. Let's connect and explore how my unique experiences and technical
                skills can contribute to your team's success.

                <br><br>
                You can find my resume <a href="https://docs.google.com/document/d/1TU6nGGWOPCMJBfCzfNNVVJNlm8bfJ0fT/edit?usp=sharing&ouid=103796273446007635568&rtpof=true&sd=true" target="_blank">here</a>.
            </p>
        </div>
    </div>

<%- include('../partials/_footer') %>
</html>