<!DOCTYPE html>
<html>
<%- include('../partials/_header') %>

<div class="container">
    <!-- Logo -->
    <div class="content-card text-center">
        <img src="/img/8-1oBq9kyf5UPgQzS.png" style="height: 100px;" alt="Logo">
    </div>

    <!-- Projects -->
    <div class="content-card">
        <h5>Projects</h5>
        <p>
            Welcome to my Projects Page, where I'm excited to showcase a selection of my recent and noteworthy
            endeavors. These projects represent a fusion of creativity, skill, and dedication, each with its unique
            story to tell. Whether it's web development, software engineering, or other exciting ventures, I've
            poured my passion and expertise into every one of them. Take a moment to explore the details, images,
            and outcomes of these projects below, and discover the tangible results of my commitment to innovation
            and excellence.
        </p>
    </div>

    <!-- Project 1 -->
    <div class="content-card">
        <img src="/img/Capture1.png" style="height: 200px; width: 150px; margin: auto; display: block;" alt="Image1">

        <h5>COMP 213-402 Final Project</h5>
        <p>
            This Project is my final project for my html it includes all the css and html knowledge i use for the
            semester.
        </p>
    </div>

    <!-- Project 2 -->
    <div class="content-card">
        <img src="/img/Capture2.png" style="height: 200px; width: 150px; margin: auto; display: block;" alt="Image1">
        <h5>COMP288 Final Project</h5>
        <p>
            This is my final project for my java. It shows my deep understanding of java.
        </p>
    </div>

    <!-- Project 3 -->
    <div class="content-card">
        <img src="/img/Database.png" style="height: 200px; width: 150px; margin: auto; display: block;" alt="Image1">
        <h5>Database Resturant WIP</h5>
        <p>
            This is a work in progress for my system design course.
        </p>
    </div>
</div>

<%- include('../partials/_footer') %>
</html>