<!DOCTYPE html>
<html>
<%- include('../partials/_header') %>

<div class="container">
    <!-- Logo -->
    <div class="content-card text-center">
        <img src="/img/8-1oBq9kyf5UPgQzS.png" style="height: 100px;" alt="Logo">
    </div>

    <!-- Services -->
    <div class="content-card">
        <h5>Services</h5>
        <p>
            Welcome to our Services Page, where we take pride in offering a range of high-quality services designed
            to meet your needs. Whether you're looking for general programming expertise, innovative web
            development, cutting-edge mobile app solutions, or other technology-driven solutions, we've got you
            covered. Our team is committed to delivering top-notch services tailored to your specific requirements.
            To make your browsing experience even more engaging, we've included visual representations that showcase
            our capabilities. Explore our services below, and let's collaborate to bring your ideas to life.
        </p>
    </div>
</div>

<%- include('../partials/_footer') %>
</html>